:root {
  --maxWidth: 980px;
}

main {
  font-family: 'Avenir';
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: var(--maxWidth);
  padding: 20px;
}

.header__theme {
  font-size: 0.75em;
}

nav > a {
  color: #000;
  margin-right: 20px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border 0.3s ease;
}

nav > a:last-child {
  margin-right: 0px;
}

nav > a:hover {
  border-bottom: 1px solid #000;
}

.intro {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: auto;
  max-width: var(--maxWidth);
  padding: 0 30px;
}

.intro > h1 {
  font-size: 6em;
  margin: 0;
}

.intro > h3 {
  font-size: 1.625em;
  font-weight: 400;
  margin: 0;
}

.intro > h3 > b {
  font-weight: 700;
}
